[submodule "emacs_chrome"]
	path = emacs_chrome
	url = /home/apound/snlhome/emacs-repos/emacs_chrome.git
[submodule "helm"]
	path = helm
	url = /home/apound/snlhome/emacs-repos/helm.git
[submodule "matlab-emacs"]
	path = matlab-emacs
	url = /home/apound/snlhome/emacs-repos/matlab-emacs.git
[submodule "multiple-cursors"]
	path = multiple-cursors
	url = /home/apound/snlhome/emacs-repos/multiple-cursors.git
[submodule "phi-search"]
	path = phi-search
	url = /home/apound/snlhome/emacs-repos/phi-search.git
[submodule "phi-search-mc"]
	path = phi-search-mc
	url = /home/apound/snlhome/emacs-repos/phi-search-mc.git
[submodule "sublimity"]
	path = sublimity
	url = /home/apound/snlhome/emacs-repos/sublimity.git
