[submodule "emacs_chrome"]
	path = emacs_chrome
	url = git@github.com:stsquad/emacs_chrome.git
#/home/apound/snlhome/emacs-repos/emacs-chrome.git
[submodule "helm"]
	path = helm
	url = git@github.com:emacs-helm/helm.git
#/home/apound/snlhome/emacs-repos/helm.git
[submodule "matlab-emacs"]
	path = matlab-emacs
	url = git@github.com:aepound/matlab-emacs.git
#/home/apound/snlhome/emacs-repos/matlab-emacs.git
[submodule "multiple-cursors"]
	path = multiple-cursors
	url = git@github.com:magnars/multiple-cursors.el.git
#/home/apound/snlhome/emacs-repos/multiple-cursors.git
[submodule "phi-search"]
	path = phi-search
	url = git@github.com:zk-phi/phi-search.git
#/home/apound/snlhome/emacs-repos/phi-search.git
[submodule "phi-search-mc"]
	path = phi-search-mc
	url = git@github.com:knu/phi-search-mc.el.git
#/home/apound/snlhome/emacs-repos/phi-search-mc.el.git
[submodule "sublimity"]
	path = sublimity
	url = git@github.com:zk-phi/sublimity.git
#/home/apound/snlhome/emacs-repos/sublimity.git
