[submodule "emacs_chrome"]
	path = emacs_chrome
	url = //snl/home/apound/emacs-repos/emacs_chrome.git
[submodule "helm"]
	path = helm
	url = //snl/home/apound/emacs-repos/helm.git
[submodule "matlab-emacs"]
	path = matlab-emacs
	url = //snl/home/apound/emacs-repos/matlab-emacs.git
